:root{
    /* Colours */
    --primary-blurple: hsl(240, 100%, 66%);
    --text-color: white;
    --text-color-alt: rgb(170, 170, 170);
}

::selection{
    background-color: var(--primary-blurple);
    color: var(--text-color);
}