:root {
    --md-primary-fg-color:        #6469ff !important;
    --md-primary-fg-color--light: #6469ff !important;
    --md-primary-fg-color--dark:  #6469ff !important;
  }
  
::selection{
  background-color: var(--md-primary-fg-color);
  color: white;
}