
[data-md-color-scheme="slate"] {
    --md-primary-fg-color: rgb(88, 101, 242);

}

.home__heading{
    text-align: center;
    font-weight: bold !important;
}
.home_logo img{
    display: block !important;
    margin: 0 auto !important;

}